.main-content {
  padding: 20px;
  background-color: #021745;
}

.main-content section {
  margin-bottom: 40px;
  align-items: center;
}

.main-content h2 {
  text-align: left;
  font-size: 2em;
  margin-bottom: 10px;
  color: white;
}

.main-content p {
  font-size: 1.2em;
  margin-bottom: 20px;
  color: white;
}

.main-content .learn-more-link {
  color: #fff;
  text-decoration: underline;
}
