.portfolio {
    padding: 20px;
    background-color: white;
    border-radius: 8px;
  }

  div{
    margin-top: 25px;
  }
  
  .portfolio h3 {
    margin-top: 5px;
    color: black;
  }

  .portfolio p0 {
    font-size: 1.2em;
    color: black;
  }
  
  .portfolio p1 {
    font-size: 1.2em;
    color: black;
 
  }
  .portfolio p2 {
    font-size: 1.2em;
    color: black;
   
  }

  .portfolio p3 {
    font-size: 1.2em;
    color: black;
    
  }
  
  .portfolio-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .portfolio-item {
    width: 30%;
    background-color: #dbe4ed;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 8px;
  }
  
  .portfolio-item h3 {
    margin-top: 0;
  }
  
  .portfolio-item p {
    font-size: 1.1em;
  }
  