.services {
    background-color: white;
    padding: 20px;
    border-radius: 8px; 
  }
  
.services h3 {
  margin-top: 0;
  color: black;
}
  
.services p5 {
  margin-top: 0;
  font-size: 15px;
  color: black;
}
  
.services ul {
    list-style: none;
    padding: 0;
}
  
.services ul li {
    margin-bottom: 10px;
    font-size: 1.1em;
    
}
  